body {
    margin-left: 5%;
    margin-right: 5%;
    /* font-family: "Courier New", Courier, monospace; */
    counter-reset: h1;
}

strong, b {
    font-size: large;
}

header div{
    width: 100%;
    height: 5em;
    background-image: url('banner.svg');
    background-size: 100%;
}

h1:before {
    counter-increment: h1;
    content: counter(h1) ". "
}
h1 {
    color: darkcyan;
    font-size: xx-large;
    counter-reset: h2;
}

h2:before {
    counter-increment: h2; 
    content: counter(h1) "." counter(h2) " "
}

h2, h3, h4, h5, h6{
    color: darkcyan;
}
p {
    /* border: solid rgb(0, 61, 255); */
    /* border-color: darkblue; */
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}
ul{
    margin-left: 1em;
}
ol{
    margin-left: 5%;
}


table{
    margin: 5%;
    border-collapse: collapse;
}
table td{
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
}

img {
    margin: 0px auto;
    display:block
}
