body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Courier New", Courier, monospace;
}



strong, b {
    font-size: large;
}



header div{
    width: 100%;
    height: 5em;
    background-image: url('banner.svg');
    background-size: 100%;
}

.minoParagraph1 {
    counter-reset: h2;
    counter-increment: h1;
}
h1:before {
    content: counter(h1) ". ";
}
h1 {
    color: darkcyan;
    font-size: xx-large;
}


.minoParagraph2 {
    counter-reset: h3;
    counter-increment: h2;
}
h2:before {
    content: counter(h2) ". ";
}
h2 {
    margin-left: 2%;
}


.minoParagraph3 {
    counter-reset: h4;
}
h3:before {
    content: counter(h2) "." counter(h3) " ";
}
h3 {
    margin-left: 4%;
    counter-increment:h3;
}


.minoParagraph4 {
    counter-reset: h5;
}
h4:before {
    content: counter(h2) "." counter(h3) "." counter(h4) " "
}
h4 {
    margin-left: 6%;
    counter-increment: h4;
}


.minoParagraph5 {
    counter-reset: h6;
}
h5:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "
}
h5 {
    margin-left: 8%;
    counter-increment: h5;
}
                        

h2, h3, h4, h5, h6{
    color: darkcyan;
}
p {
    /* border: solid rgb(0, 61, 255); */
    /* border-color: darkblue; */
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    color: black
}


ul {
    position: relative;
    list-style-type: disc
}
ol {
    position: relative;
}



table{
    margin: 5%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
table td{
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
}


img {
    margin: 0px auto;
    display:block
}
